.header {
    padding: 19px 144px 26px 146px;
   &__inner {
    display: flex;
    justify-content: space-between;
   } 

   &__logo {
    width: 178px;
    height: 37px;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.1);
    }
   }

   &__img {
    display: none;
   }
}

@media only screen and (max-width: 1150px) {
    .header {
        padding: 19px 0px 26px 0px;
    }
}

@media only screen and (max-width: 960px) {
    .header__img {
        display: block;
        width: 28px;
        height: 31px;
    }
}