.main__built {
    background-image: url(../../images/Bg.png);
    background-size: 2323px 389px;
    background-repeat: no-repeat;
    background-position-y: calc(50% + 100px);
    background-position-x: calc(50% + 20px);
}

@media only screen and (max-width: 870px) {
    .main__built {
        background-position-y: calc(50% + 430px);
        background-position-x: calc(50% + 20px);
    } 
}

@media only screen and (max-width: 375px) {
    .main__built {
        background-position-y: calc(50% + 405px);
        background-position-x: calc(50% + 20px);
    } 
}