.nav {
    &__list {
        @include list-unnderline;
        margin-left: -600px;
        margin-top: 5px;
        display: flex;
    }

    &__item {
        & :hover {
          color: #02925e;
        }
        margin-right: 40px;
    }

    &__item:nth-child(4) {
        margin-right: 24px;
    }

    &__item:nth-child(5) {
        margin-right: 24px;
    }

    &__link {
        @include link-underline;
    }
}

@media only screen and (max-width: 960px) {
   .nav {
    display: none;
   }
}